<!doctype html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ### CSS ### -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="/static/css/login.css">

    <!-- ### JS ### -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>


<body>

	<section class="login-form">

	
		<div class="login">

			<div class="row justify-content-center">

				<div class="login-outer">

					<div class="login-text row justify-content-center">

						<h1><cite>Login to Our website</h1>
		
					</div>

					<form class="form-group">

						<div class="row justify-content-center">

							<input name="name" class="form-control" placeholder="Enter Your User Name" id="username">


						</div>

						<div class="row justify-content-center">

							<input class="form-control" id="password" name="password" class="password" placeholder="Enter Your Password" type="password">

						</div>
	
	
						<div class="login-button row">
							<div class="col-md-12 col-lg-12">
								<div class="row justify-content-center">
	
									<button><strong>LOGIN</button>
	
								</div>
	
							</div>
	
						</div>
						<div class="col-md-12 col-lg-12">
		
							<div class="row justify-content-center">
	
								<span class="forgot-pass">
	
									<a href="/forgot"><cite>Forgot Password?</a>
								
								</span>
	
							</div>
	
						</div>
	
						<div class="col-md-12 col-lg-12">
	
							<div class="row justify-content-center">
	
								<span class="create-user">
	
									<a href="/forgot"><cite>Create User</a>
								
								</span>
	
							</div>
	
	
					</form>
					


				</div>

				
				

			

			</div>


				
		</div>

	</section>
    

</body>



































